@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/bricolage-grotesque";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer base {
  h1,
  h2 {
    font-family: "Bricolage Grotesque", sans-serif;
  }
}

button {
  cursor: pointer;
}
